# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
#.idea
#*.iml
out
gen
workspace.xml
#.idea/artifacts/AutomationTestAcsele_jar.xml
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml

# Package Files #
#.jar

# Compiled class file
target
#*.class

# Log file
*.log
